@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  background: linear-gradient(to right, black 50%, rgba(0, 0, 0, 0.086) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.29);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* pour Firefox */
  -ms-overflow-style: none; /* pour Internet Explorer et Edge */
}
